<!--
Projet:   Web Design
Auteurs:  BOULAIS Thomas & NGOY-WESSESSI Brice César
Version:  1
Date:     24/02/2017
-->
<!DOCTYPE html>
<html ng-app="guide">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="content\css\bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="content\css\style.css" />
  <script type="text/javascript" src="app\lib\angular.min.js"></script>
  <script type="text/javascript" src="app\app.js"></script>
  <title>Movie Guide</title>
</head>

<body ng-controller="GuideController as guide">
  <header>
    <div class="navbar navbar-inverse">

        <img class="resizeLogo" src="content\img\logo.png"/>
        <p class="titre">Movie Guide 3476 super trop cool </p>

    </div>
  </header>

  <div class="container">
    <div class="navbar navbar-inverse navStyle">
      <a rel="nofollow"> All </a>
      <a rel="nofollow"> #0-9 </a>
      <a rel="nofollow"> A </a>
    <form class="navbar-form navbar-right inline-form">
      <div class="form-group">
        <input type="text" ng-model="recherche.name" class="input-sm form-control" placeholder="Recherche">
        <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
      </div>
    </form>
    </div>

    <section>
      <div class="list-group row">
        <div class="list-group-item col-lg-3" ng-repeat="movie in movies | orderBy:'name' | filter:recherche:strict " ng-class="dimensionner(movie.showInfo)" >
          {{movie.name | uppercase}}
          <em class="pull-right">{{movie.rating}} / 10</em><br>
          <img class="resizePoster" src="{{movie.thumb}}" ng-click="movie.showInfo =!movie.showInfo"/>
          <p class="info"ng-show="movie.showInfo">directeur : {{movie.director}} </br> Année de sortie : {{movie.yearRelease}}</p>
        </div>
      </div>
    </section>
    <section>
      {{filmPlot}}
    </section>
  </div>
</body>
</html>
