<!--
Projet:   Web Design
Auteurs:  BOULAIS Thomas & NGOY-WESSESSI Brice César
Version:  1
Date:     24/02/2017
-->
<!DOCTYPE html>
<html ng-app="guide">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="content\css\bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="content\css\style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="app\app.js"></script>
  <title>Movie Guide: Web Design</title>
</head>

<body ng-controller="GuideController as guide">
  <header>
    <div class="navbar navbar-inverse">

        <img class="resizeLogo" src="content\img\logo.png"/>
        <p class="titre">Movie Guide </p>

    </div>
  </header>

  <div class="container">
    <div class="navbar navbar-inverse navStyle">
      <a rel="nofollow"> Liste des films </a>
    <form class="navbar-form navbar-right inline-form">
      <div class="form-group">

        <!-- Pour spécifier le champ de recherche parmis l'objet -->
        <input  type="text" ng-model="recherche.name" class="input-sm form-control decalage" placeholder="Recherche">
      </div>
    </form>
    </div>

    <section class="col-lg-3">
      <h3 class="titreReview">Review de film </h3>
      <section class="col-lg-12" ng-show="showReview">
        <div ng-repeat="review in reviewsFilm" class="review">
              </br>
              <p class="reviewStatic revStyle">  Note : {{review.stars}} / 5
              </br>Auteur : {{review.author}}
              </br>{{review.body}}</br></p>
        </div>
      </section>

      <h3 class="titreReview">Ecrire une review</h3>

      <form>
        <input  type="email" ng-model="review.email" class="input-sm form-control decalage" placeholder="Adresse mail">
        <input  type="range" ng-model="review.note" min="0" max="5" class="input-sm form-control decalage">note : {{review.note}}
        <input  type="text" ng-model="review.contenu" class="input-sm form-control decalage" placeholder="Votre review">
          <input type="submit" ng-click="ajouterReview(review)" value="Envoyer"/>
      </form>
    </section>

    <section class="col-lg-9">
      <div class="list-group row">
        <div class="list-group-item col-lg-4"
         ng-repeat="movie in movies | orderBy:'rating' | filter:recherche:strict"
         ng-class="movie.dimensionCadre" >

          {{movie.name | uppercase}}
          <em class="pull-right">{{movie.rating}} / 10</em><br>
          <img class="resizePoster" ng-click="clickFilm(movie.name)"
          ng-class="movie.dimensionImage" src="{{movie.thumb}}" />
          <div ng-show="movie.dimensionCadre === dimensionCadreMax">
            <p>
              Film réalisé par {{movie.director}} en {{movie.yearRelease}}</br>
              <p class="filmMature" ng-show="movie.mature">
                Attention ce film n'est pas tout public ! </br>
              </p>
              Résumé du film : {{movie.plot}} .</br>
              Lien du trailer : {{movie.trailer}} .
            </p>
          </div>
        </div>
      </div>
    </section>

  </div>
</body>
</html>
