img.resizePoster{
  max-height: 300px;
}

img.bigPicture{
  max-height: 330px;
  position: static;
}

img.resizeLogo{
  max-width: 15%;
  max-height: 15%;
}

.navStyle{
  color: #AAA;
  font-family: 'Arial bold', sans-serif;
  font-size: 18px;
  display: block;
  line-height: 360%;
  margin: 0;
  position: relative;
  text-align: center;
  top: 50%;
}

.titre{
  color: #FFF;
  font-family: 'Arial bold', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: auto;
  display: inline;
}
